.products-header h2 {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.products-header p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}